a {
    color: #fff;
}

.text-danger {
    color: red !important;
}

.text-center {
    text-align: center !important;
}

.ml-1 {
    margin-left: 0.25rem;
}

.mr-1 {
    margin-right: 0.25rem;
}

.menu-bars a,
.menu-bars a:hover {
    color: #fff;
}

.text-white {
    color: #fff !important;
}

.font-14 {
    font-size: 14px !important;
}