.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  display: flex;
  background-color: #F5F5F5;
  border-radius: 15px;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  
  padding-right: 20px;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close-div {
  height: 40px;
}

.close {
  color: #C9440E;
  font-size: 20px;
  font-weight: bold;
  
  position: absolute;
  right: 0.7em;
  top: 0.7em;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  background: #fff;
  border-radius: 2em;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.thumbs-up-div {
  margin-left: 20px;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 0 16px 49px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.home-welcome-text {
  display: block;
  letter-spacing: 4px;
  font-size: 17px;
}
.heading-modal {
  color: #554E4E;
  font-size: 40px;
  line-height: 100%;
}

.modal-body p {
  font-size: 11px;
}

@media only screen and (max-width: 600px) {
  .modal-content {
    display: block;
    width: 80%;
  }
  .thumbs-up-div {
    margin: 20px auto 0;
    text-align: center;
  }
  .close-div {
    height: auto;
  }
  .modal-body {
    text-align: center;
  }
  .heading-modal {
    font-size: 6.7vw;
  }
  .home-welcome-text {
    font-size: 4vw;
  }
}