@font-face {
    font-family: roboto_regular;
    src: url('/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: roboto_bold;
    src: url('/assets/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: monserrat_semiBold;
    src: url('/assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: helveticaNeueLTStd_black;
    src: url('/assets/fonts/Helvetica-Neue-LT-Std-95-Black_22551.ttf');
}

@font-face {
    font-family: helveticaNeue_normal;
    src: url('/assets/fonts/HelveticaNeueLTStdRoman.otf');
}

@font-face {
    font-family: helveticaNeue_bold;
    src: url('/assets/fonts/HelveticaNeueLTStdBd.otf');
}

@font-face {
    font-family: helveticaNeueLTStd_ultraLight;
    src: url('/assets/fonts/HelveticaNeueLTStdUltLt.otf');
}

.font-roboto-regular {
    font-family: roboto_regular, Arial, Helvetica, sans-serif;
}

.font-roboto-bold {
    font-family: roboto_bold, Arial, Helvetica, sans-serif;
}

.font-monserrat-semibold {
    font-family: monserrat_semiBold, Arial, Helvetica, sans-serif;
}

.font-helve-black {
    font-family: helveticaNeueLTStd_black, Arial, Helvetica, sans-serif;
}

.font-helve-normal {
    font-family: helveticaNeue_normal, Arial, Helvetica, sans-serif;
}

.font-helve-bold {
    font-family: helveticaNeue_bold, Arial, Helvetica, sans-serif;
}

.font-helve-ultralight {
    font-family: helveticaNeueLTStd_ultraLight, Arial, Helvetica, sans-serif;
}

.font-size-12px {
    font-size: 12px;
}

.font-size-22px {
    font-size: 22px;
}

body {
    font-family: helveticaNeue_normal, Arial, Helvetica, sans-serif;
    margin: 0;
    background: url('/assets/img/bg-2.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    width: 100%;
}

.header-container {
    padding: 25px 70px;
    display: flex;
    justify-content: space-between;
}

.header-logo-div,
.header-title-div {
    height: 100%;
    display: block;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.header-logo-div {
    margin-right: 40px;
}

.header-logo {
    height: 47px;
}

.settings-subheading {
    color: #5A5A5A;
}

.header-title {
    color: #fff;
    font-size: 26px;
    line-height: 100%;
}

.col-hz {
    display: flex;
    flex-wrap: wrap;
}

.login-main-div {
    background: url('/assets/img/bg-1.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.div-login {
    background-color: #fff;
    width: 540px;
    padding: 80px 0 0 0;
    float: right;
    right: 0;
    min-height: calc(100vh - 80px);
}

.logo-login {
    width: 250px;
}

.login-title {
    font-size: 34px;
}

.btn-cancel-login {
    background-color: transparent;
}

.btn-login {
    color: #fff;
    background-color: #3366CC;
}

.home-main-div {
    height: 100vh;
    min-height: 100%;
    display: flex;
}

.settings-div {
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.home-logo-div {
    width: 483px;
    margin: 70px auto auto;
}

.home-logo {
    width: 61%;
    float: right;
    margin-top: 75px;
}

.home-separator {
    width: 58px;
}

.home-div-right {
    display: block;
    padding-right: 90px;
    padding-top: 70px;
}

.home-title {
    color: #fff;
    font-size: 53px;
    line-height: 90%;
}

.home-welcome-text {
    display: block;
    letter-spacing: 4px;
    font-size: 19px;
}

.home-body {
    color: #fff;
    margin-bottom: 2.3rem;
}

.home-body small {
    color: #C4C4C4;
}

.userbox-index-div {
    margin-top: 80px;
    display: flex;
}

.userbox-index-div-img {
    margin-left: 5px;
}

.userbox-index-div-fullname {
    margin-left: 5px;
    margin-top: 8px;
    line-height: 130%;
}

.firstname {
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
}

.lastname {
    display: block;
    color: #fff;
    font-size: 17px;
}

.user-img {
    width: 55px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: beige;
}

.userbox-div {
    display: flex;
    align-items: center;
    color: #fff;
}

.userbox-div-img,
.userbox-search,
.menu-bars,
.userbox-notifications {
    margin-left: 20px;
}

.userbox-name {
    font-weight: bold;
}

.userbox-img {
    width: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: beige;
}

.userbox-search-div {
    vertical-align: middle;
}

.userbox-search {
    padding: 0.3rem;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
}

.menu-bars {
    font-size: 30px;
    display: flex;
    align-items: center;
    color: #fff;
}

.text-color-1 {
    color: #3366CC;
}

.text-blue-2 {
    color: #2BC7EC;
}

.text-color-2 {
    color: #91EB02;
}

.btn {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.btn-rounded {
    border-radius: 19px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    font-size: small;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
}

.btn-gradient-1 {
    color: #fff;
    background-image: linear-gradient(#A71818, #FF8900);
    text-decoration: none;
}

.btn-gradient-1:hover {
    color: #fff;
    text-decoration: none;
}

.btn-transparent {
    background-color: transparent;
}

.btn-font-white {
    color: #fff;
}

.btn-font-white:hover {
    color: #fff;
    text-decoration: none;
}

.btn-cont-disable {
    color: #fff;
    background-color: #717171;
    opacity: 0.7;
}

.form-group {
    max-width: 285px;
    margin: auto;
    display: block;
    margin-bottom: 1rem;
}

.img-center {
    margin: auto;
    display: block;
}


/* // DIV SETTINGS **************************************** */

.settings-main-div {
    min-height: 280px;
    padding: 20px 60px;
    border-radius: 15px;
    margin: 60px 30px auto;
    background-color: #F5F5F5;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 65px auto;
    grid-gap: 10px;
}

.div-settings-step-num {
    grid-row-start: 1;
    grid-row-end: 3;
}

.div-settings-header {
    grid-column-start: 2;
    grid-column-end: 3;
}

.div-step-number {
    margin-left: 50px;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    background-color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    float: right;
}

.div-step-number span {
    color: #15B967;
    display: inline-block;
    vertical-align: middle;
}

.div-settings-right {
    display: inline-block;
}

.settings-title {
    color: #5A5A5A;
    margin-top: 0;
}

.settings-title-hr {
    background-color: #5A5A5A;
    height: 1px;
    border-width: 0;
    ;
    margin-bottom: 25px;
}

.settings-buttons {
    justify-content: space-between;
    display: flex;
}

.btn-back {
    margin-left: 30px;
}

.step-div-body {
    line-height: 1;
    display: flex;
}

.step-1-left-div {
    width: 45%;
    float: left;
}

.tip-text {
    display: block;
}

.step-1-right-div {
    width: 45%;
    float: right;
}

.step-1-separator {
    display: inline-block;
    width: 9%;
}

.step-1-blocker-div {
    pointer-events: none;
    background-color: #fff;
    opacity: 0.2;
}

.step-1-buttons {
    margin-right: 60px;
}

.step-1-buttons button {
    margin-left: 30px;
}

.color-picker {
    display: grid;
    height: 40px;
    max-width: 500px;
    grid-column-gap: 8px;
    grid-template-columns: 15px auto auto auto auto auto auto 15px;
}

.color-picker div {
    cursor: pointer;
    text-align: center;
}

.color-picker div img {
    margin-top: 12px;
}

.color-picker span {
    display: block;
    margin: auto;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    max-width: 40px;
}

.box-input {
    padding: 12px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px #d3d3d3;
    border: 0;
    width: 80%;
    max-width: 400px;
    font-size: small;
    display: block;
}

.box-input-sm {
    padding: 12px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px #d3d3d3;
    border: 0;
    width: 100%;
    max-width: 400px;
    font-size: small;
}

.btn-upload {
    display: block;
    border: 1px solid #AFAFAF;
    background-color: #F5F5F5;
}

.div-upload-file div {
    display: inline-block;
    margin-left: 20px;
}

#upload-file {
    display: none;
}

.step-2-div {
    width: 30%;
}

.step-2-separator {
    display: inline-block;
    width: 5%;
}

.step-3-table {
    margin: auto;
    font-size: 12px;
}

.step-3-table td {
    width: 40%;
}

.label-verification {
    text-align: right;
    color: #5A5A5A;
    padding-right: 17px;
}

.highlight {
    font-size: 15px;
    color: #000000;
}

.col-mdh-4,
.col-mdh-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-mdh-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-mdh-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.color-707070 {
    color: #707070;
}

.text-center {
    text-align: center;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-text {
    display: block;
    margin-top: 0.25rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        left: 50%;
        top: 0px;
    }
    100% {
        opacity: 1;
        left: 0px;
        top: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .div-login {
        width: 100%;
    }
    /* // LOGIN */
    .col-mdh-4 {
        display: block;
        flex: unset;
    }
    .col-mdh-6 {
        display: block;
        flex: unset;
    }
    /* // HOME */
    .home-main-div {
        display: unset;
        position: absolute;
        height: unset;
    }
    .header-container {
        padding: 25px;
    }
    .home-logo-div {
        margin: unset;
        width: unset;
    }
    .home-logo {
        margin: 20px auto auto;
        display: block;
        float: unset;
        width: 130px;
    }
    .header-title {
        font-size: 20px;
    }
    .home-separator {
        display: none;
    }
    .home-div-right {
        margin: auto;
        padding: 0 20px;
    }
    .home-title {
        font-size: 30px;
    }
    .home-welcome-text {
        font-size: 13px;
    }
    .userbox-index-div {
        margin-top: 30px;
        align-items: center;
    }
    .user-img {
        width: 30px;
    }
    .firstname {
        font-size: 17px;
    }
    .lastname {
        font-size: 10px;
    }
    .userbox-index-div-fullname {
        margin-left: 5px;
        margin-top: 0;
        line-height: 100%;
    }
    .userbox-div legend,
    .userbox-notifications,
    .userbox-search-div {
        display: none;
    }
    /* // STEP 1 */
    .settings-main-div {
        border-radius: 0%;
        margin: auto;
        padding: 20px;
    }
    .step-div-body {
        width: 100%;
        display: unset;
    }
    .step-1-left-div {
        width: 100%;
        float: unset;
    }
    .step-1-separator {
        display: none;
    }
    .step-1-right-div {
        width: 100%;
        float: unset;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    .div-separator {
        display: none;
    }
    .color-picker {
        width: 80%;
    }
    .step-2-div {
        width: 100%;
    }
    .settings-buttons {
        justify-content: unset;
        display: unset;
        text-align: center;
    }
    .step-1-buttons button {
        margin-left: auto;
    }
    .step-1-buttons {
        margin-right: auto;
    }
    .btn-back {
        margin-left: auto;
    }
}

@media only screen and (max-width: 600px) {
    .home-div-right {
        padding: 0 50px;
    }
    .header-logo {
        height: 30px;
    }
    .header-logo-div {
        margin-right: 10px;
    }
    .header-title {
        font-size: 15px;
    }
}

@media only screen and (max-width: 450px) {
    .logo-login {
        width: 47%;
    }
    .login-title {
        font-size: 6vw;
    }
    .form-control {
        width: 90%;
    }
}